@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
  box-sizing: border-box;
  
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
}

.container {
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.login-footer {
  position: absolute;
  bottom: 10px;
  right: 140px;  /* ne znam kako drugacije na sredinu da stavim */
  margin-top: 30px;
  text-align: center;
}

.user-type-picker {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.user-type-picker h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}

.boat-owner-inactive{ 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.cottage-owner-inactive {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.boat-owner-active {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid #f1356d;

}

.cottage-owner-active {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid #f1356d;

}

.instructor-inactive {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.instructor-active {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid #f1356d;

}

.client-inactive {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.client-active {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  margin: auto;
  margin-top: 50px;
  padding: 5px;
  cursor: pointer;
  opacity: 1;
  border-bottom: 1px solid #f1356d;
}

.boat-owner-pic, .cottage-owner-pic, .instructor-pic, .client-pic {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.boat-owner-pic img, .cottage-owner-pic img, .instructor-pic img, .client-pic img{
  width:100%;
  height: 90%;
}

.btnNext {
  bottom: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}


/* 
.reg-container {
  text-align: center;
  position: relative;
  max-width: 1000px;
  margin: 30px auto;
  overflow: auto;
  min-height: 700px;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.create {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} */