@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
  /* box-sizing: border-box; */
  
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.container {
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.login-footer {
  margin-top: 30px;
}

.user-type-picker {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 80px;
  cursor: pointer;
}

.user-type-picker h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}

.boat-owner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 30px
}

.cottage-owner {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 30px
}

.instructor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 30px
}

.client {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 30px
}

.boat-owner.inactive, .cottage-owner.inactive, .instructor.inactive, .client.inactive {
  opacity: 0.5;
}

.boat-owner.active, .cottage-owner.active, .instructor.active, .client.active {
  opacity: 1;
  border-bottom: 1px solid #f1356d;
}

.boat-owner:hover, .cottage-owner:hover, .instructor:hover, .client:hover {
  opacity: 1;
}

.boat-owner-pic, .cottage-owner-pic, .instructor-pic, .client-pic {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.boat-owner-pic img, .cottage-owner-pic img, .instructor-pic img, .client-pic img{
  width:100%;
  height: 90%;
}

.btnNext {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}


.reg-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 40px;
  position: relative;
  max-width: max-content;
  margin: 50px auto;
  overflow: auto;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.reg-container .reg-first_name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.reg-container .reg-last_name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.reg-container .reg-country {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 30px;
}

.reg-container .reg-city {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 30px;
}

.reg-container .reg-street {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.reg-container .reg-email {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.reg-container .reg-password {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 5px 30px;
}

.reg-container .reg-rep-password {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 5px 30px;
}

.reg-container .reg-phoneNum {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 5px 30px;
}

.reg-container .reg-explanation {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 5px 30px;
}

.btnBackReg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
  padding: 5px 30px;
}

.btnNextReg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  padding: 5px 30px;
}


.confirmation-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  gap: 10px 40px;
  position: relative;
  max-width: max-content;
  margin: 50px auto;
  overflow: auto;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.add-service-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 7px 0px;
  position: relative;
  max-width: max-content;
  margin: 40px auto;
  overflow: auto;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 10px;
}

.add-service-container .service-name{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.add-service-container .country{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.add-service-container .price{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 15px 0px;
}

.add-service-container .city{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 30px;
}

.add-service-container .cancellation-fee{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.add-service-container .address{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.add-service-container .service-description{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 5px 30px;
}

.add-service-container .rules{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 5px 30px;
}

.add-service-container .fishing-equipment{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 25px 30px;
}

.add-service-container .max-num-attendants{
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 40px 70px;
}

.add-service-container .additional-services{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  padding: 0px 80px;
}

.add-service-container .images{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 8;
  padding: 0px 50px;
}

.add-service-container .show-additional-services{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 9;
  padding: 0px 60px;
}

.add-service-container .cancel-button{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 9;
  grid-row-end: 10;
  padding: 60px 60px;
}

.add-service-container .submit-button{
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 10;
  padding: 60px 60px;
}

.add-additional-service-dialog {
  text-align: center;
  gap: 10px 15px;
  position: relative;
  max-width: max-content;
  margin: 50px auto;
  padding: 30px;
}

.add-additional-service-dialog .name{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 60px;
}

.add-additional-service-dialog .description{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 60px;
}

.add-additional-service-dialog .subtitle{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 15px 60px;
}

.add-additional-service-dialog .price{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 35px 80px;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}