@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Poppins";
  color: #333;
  /* box-sizing: border-box; */
  
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 70%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;

}

.container {
  text-align: center;
  position: relative;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.login-footer {
  margin-top: 30px;
}

.user-type-picker {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 80px;
  cursor: pointer;
}

.user-type-picker h1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
}

.boat-owner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 30px
}

.cottage-owner {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 10px 30px
}

.instructor {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 30px
}

.client {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 10px 30px
}

.boat-owner.inactive, .cottage-owner.inactive, .instructor.inactive, .client.inactive {
  opacity: 0.5;
}

.boat-owner.active, .cottage-owner.active, .instructor.active, .client.active {
  opacity: 1;
  border-bottom: 1px solid #f1356d;
}

.boat-owner:hover, .cottage-owner:hover, .instructor:hover, .client:hover {
  opacity: 1;
}

.boat-owner-pic, .cottage-owner-pic, .instructor-pic, .client-pic {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.boat-owner-pic img, .cottage-owner-pic img, .instructor-pic img, .client-pic img{
  width:100%;
  height: 90%;
}

.btnNext {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}


.reg-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px 40px;
  position: relative;
  max-width: max-content;
  margin: 50px auto;
  overflow: auto;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.reg-container .reg-first_name {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.reg-container .reg-last_name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 5px 30px;
}

.reg-container .reg-country {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 30px;
}

.reg-container .reg-city {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 5px 30px;
}

.reg-container .reg-street {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.reg-container .reg-email {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: 5px 30px;
}

.reg-container .reg-password {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 5px 30px;
}

.reg-container .reg-rep-password {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 5px 30px;
}

.reg-container .reg-phoneNum {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  padding: 5px 30px;
}

.reg-container .reg-explanation {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  padding: 5px 30px;
}

.btnBackReg {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 8;
  padding: 5px 30px;
}

.btnNextReg {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
  padding: 5px 30px;
}


.confirmation-container {
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  gap: 10px 40px;
  position: relative;
  max-width: max-content;
  margin: 50px auto;
  overflow: auto;
  border: 1px solid #f1356d;
  padding: 30px;
  border-radius: 5px;
}

.list {
  width: 250px;
}

.prop-preview {
  display: grid;
  /* grid-template-columns: auto auto auto auto; */
  gap: 5px 40px;
  position: relative;
  /* max-width: max-content; */
  overflow: auto;
  border-radius: 5px;
  text-align: left;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}


.prop-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.prop-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.prop-info {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 1;
}

.prop-desc {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  /* width: auto; */
}

.prop-buttons {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 30px;
  margin-left: auto;
}

