.fishinglessonContainer {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.fishinglessonWrapper {
width: 100%;
max-width: 1024px;
display: flex;
flex-direction: column;
gap: 10px;
position: relative;
}

.bookNow {
position: absolute;
top: 10px;
right: 0;
border: none;
padding: 10px 20px;
background-color: #0071c2;
color: white;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
}

.fishinglessonTitle {
font-size: 24px;
}

.fishinglessonAddress {
font-size: 12px;
display: flex;
align-items: center;
gap: 10px;
}

.fishinglessonDistance {
color: #0071c2;
font-weight: 500;
}

.fishinglessonPriceHighlight {
color: #008009;
font-weight: 500;
}

.fishinglessonDetails {
display: flex;
justify-content: space-between;
gap: 20px;
margin-top: 20px;
font-weight: bold;

}

.fishinglessonDetailsTexts {
flex: 3;
}

.fishinglessonDesc {
font-size: 18px;
margin-top: 20px;
padding-bottom: 60px;
}

.fishinglessonDetailsPrice {
flex: 1;
background-color: #ebf3ff;
padding: 20px;
display: flex;
flex-direction: column;
gap: 20px;
}

.fishinglessonDetailsPrice > h1 {
font-size: 18px;
color: #555;
}
.fishinglessonDetailsPrice > span {
font-size: 14px;
}
.fishinglessonDetailsPrice > h2 {
font-weight: 300;
}
.fishinglessonDetailsPrice > button {
border: none;
padding: 10px 20px;
background-color: #0071c2;
color: white;
font-weight: bold;
cursor: pointer;
border-radius: 5px;
}

.photo {
max-width: 1024px;
}
.addser{
    background-color: #0071c2;
    outline: black;
    border: 2px solid black 
}
.addser > h{ 
font-size: 25px;
}

